@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #050c16;
}

#cv {
  scroll-snap-align: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}